.get-color {
    width: 2.8rem;
    height: 2rem;
    position: relative;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--shadow-color);

    &__icon {
        width: 1rem;
        height: 1rem;
        margin: auto;
        margin-top: 0.5rem;
        clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 50% 50%);
        background-color: var(--font-color);
    }

    &:active {
        box-shadow: var(--box-shadow-press);
    }
}

.active {
    box-shadow: var(--box-shadow-press);
}

.push {
    transform: translate(0.1rem, 0.1rem);
}

.get-color:active .get-color__icon {
    transform: translate(0.1rem, 0.1rem);
}

.drop-down {
    position: absolute;
    top: 2.005rem;
    left: 0rem;
    width: fit-content;
    display: none;
    background-color: var(--secondary);

    &__item {
        padding: 0.5rem;
        padding-bottom: 0.9rem;
        transition: background-color 0.2s;
        &:hover {
            background-color: var(--font-color);
        }
    }
}

.radio {
    display: none;
}

.radio:checked + .mead__pick {
    border: 2px solid var(--font-color);
}

.show {
    display: block;
}
