.count {
    text-align: center;
    font-family: inherit;
    font-weight: 900;
    font-size: 3rem;
    color: var(--shadow-color);
    width: 4rem;
    height: 4rem;
    margin: auto;
    border-radius: 50%;
    border: 1px solid var(--shadow-color);
    background-color: var(--secondary);
    box-shadow: var(--box-shadow-input);
    cursor: pointer;

    &:focus-visible {
        outline: none;
        border: 2px solid var(--shadow-color);
    }
}

.get-player {
    background-color: var(--secondary);
    border: 1px solid var(--shadow-color);
    height: 2rem;
    text-align: center;
    width: 80%;
    cursor: pointer;
    box-shadow: var(--box-shadow-input);
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--font-color);

    &:focus-visible {
        outline: none;
        border: 2px solid var(--shadow-color);
    }
}
