.show-message {
    background-color: var(--secondary);
    font-size: 1.5rem;
    font-family: inherit;
    text-transform: capitalize;
    color: var(--font-color);
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: var(--box-shadow-input);
}
