.end-point {
    position: absolute;
    z-index: 30;
    left: 3vh;
    bottom: 2vh;
    transform-origin: center;
}

.move-six-r {
    animation: moveRightSix 6s ease-in;
    transform: translateX(60vh);
}

.move-five-r {
    animation: moveRightFive 5s ease-in;
    transform: translateX(50vh);
}

.move--fourth-r {
    animation: moveRightFourth 4s ease-in;
    transform: translateX(40vh);
}

.move--three-r {
    animation: moveRightThree 3s ease-in;
    transform: translateX(30vh);
}

.move--two-r {
    animation: moveRightTwo 2s ease-in;
    transform: translateX(20vh);
}

.move--one-r {
    animation: moveRightOne 1s ease-in;
    transform: translateX(10vh);
}

.move-six-l {
    animation: moveLeftSix 6s ease-in;
    transform: translateX(-60vh);
}

.move-five-l {
    animation: moveLeftFive 5s ease-in;
    transform: translateX(-50vh);
}

.move--fourth-l {
    animation: moveLeftFourth 4s ease-in;
    transform: translateX(-40vh);
}

.move--three-l {
    animation: moveLeftThree 3s ease-in;
    transform: translateX(-30vh);
}

.move--two-l {
    animation: moveLeftTwo 2s ease-in;
    transform: translateX(-20vh);
}

.move--one-l {
    animation: moveLeftOne 1s ease-in;
    transform: translateX(-10vh);
}

.move-up {
    animation: moveUp 1s ease-in;
    transform: translateY(-10vh);
}
