.point {
    position: absolute;
    z-index: 30;
    transform-origin: center;

    &--end {
        left: 3vh;
        bottom: 2vh;
    }
    &--start {
        left: 0vh;
        bottom: 0vh;
    }
}
