*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;

    @media (max-width: 1300px) {
        font-size: 90%;
    }
    @media (max-width: 1200px) {
        font-size: 80%;
    }
    @media (max-width: 1000px) {
        font-size: 70%;
    }

    @media (max-width: 800px) {
        font-size: 60%;
    }
}

body {
    font-family: "Glory", sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: var(--primary);
}
