*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary: #5c3d2e;
    --secondary: #b85c38;
    --font-color: #e0c097;
    --shadow-color: #2d2424;
    --white: #fff;
    --black: #000;
}

html {
    font-size: 100%;
}

body {
    font-family: "Glory", sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: var(--primary);
}
