:root {
    --primary: #5c3d2e;
    --secondary: #b85c38;
    --font-color: #e0c097;
    --shadow-color: #2d2424;
    --white: #fff;
    --black: #000;
    --box-shadow: 3px 3px 3px var(--dark), inset -1px -1px 2.5px var(--dark);
    --box-shadow-press: 2px 2px 3px var(--dark), inset 1px 1px 2.5px var(--dark);
    --box-shadow-input: inset 1px 1px 1px 1px var(--dark);

    --cel-color-1: #b85c38;
    --cel-color-2: #e0c097;
    --mead-color-blue: #23049d;
    --mead-color-red: #cf0000;
    --mead-color-green: #b3e283;
    --mead-color-yellow: #fdca40;
}
