.board {
    grid-column: board / -1;
    grid-row: header-part / -1;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: 3vw;
    height: 100vh;
    width: 100vh;
    position: relative;
}

.odd-cel {
    font-family: inherit;
    font-size: 0.8rem;
    background-color: var(--cel-color-1);
    padding: 0.2rem;
    position: relative;

    &__number {
        font-size: 0.8rem;
        color: var(--cel-color-1);
        background-color: var(--cel-color-2);
        padding: 5%;
        border-radius: 50%;
    }
}

.cel {
    &--end {
        display: flex;
        align-items: flex-end;
    }

    &--end-end {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    &--start {
        display: flex;
        align-items: flex-start;
    }

    &--start-end {
        display: flex;
        align-items: flex-start;
        justify-content: end;
    }
}

.even-cel {
    font-family: inherit;
    font-size: 0.8rem;
    background-color: var(--cel-color-2);
    padding: 0.2rem;
    position: relative;

    &__number {
        font-size: 0.8rem;
        color: var(--cel-color-2);
        background-color: var(--cel-color-1);
        padding: 5%;
        border-radius: 50%;
    }
}

#snake {
    position: absolute;
    z-index: 51;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ladder {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
