*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary: #c8c6a7;
    --secondary: #92967d;
    --success: #6e7c7c;
    --dark: #435560;
    --light: #fff;
}

body {
    font-family: "Glory", sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: var(--primary);
    // padding: 5vh 25vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, [start] 1fr) [board]2fr [finish];
    grid-template-rows: [header-part]1fr [main-part]2fr [footer-part]1fr [finish];
}

.board {
    grid-column: board / finish;
    grid-row: header-part / finish;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 90vh;
    width: 95vh;
}

.odd-cel {
    font-family: inherit;
    font-size: 0.8rem;
    background-color: var(--secondary);
    text-align: end;
    padding: 0.5rem 0.3rem;
}

.even-cel {
    font-family: inherit;
    font-size: 0.8rem;
    background-color: var(--success);
    text-align: end;
    padding: 0.5rem 0.3rem;
}

.cel-number {
    font-size: 0.8rem;
    color: var(--primary);
    background-color: var(--dark);
    padding: 5%;
    border-radius: 50%;
}

.title {
    font-size: 3.5rem;
    padding-left: 5rem;
    padding-top: 2rem;
    color: var(--dark);
}

.creator {
    font-size: 1rem;
    padding-left: 5rem;
    color: var(--success);
}

.header {
    grid-column: start / start;
    grid-row: header-part / main-part;
}

.start-button {
    position: relative;
    font-size: 1.3rem;
    color: var(--dark);
    font-family: inherit;
    font-weight: 600;
    border-radius: 50%;
    border: 2px solid var(--dark);
    background-color: var(--secondary);
    padding: 1rem 0.5rem;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px v;
    }
}
